### Desarrollo Proyecto sprint 7

En primer lugar haré la instalación de todas las librerías necesarias para el desarrollo de este proyecto:

In [2]:
#Librerías necesarias
import pandas as pd
import plotly as pl
import streamlit as st
import numpy as np
import seaborn as sns
import math
from scipy import stats as st

In [3]:
df = pd.read_csv('../vehicles_us.csv')

In [8]:
print(df.head(10))
print()
df.info()

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
5  14990      2014.0    chrysler 300  excellent        6.0  gas   57954.0
6  12990      2015.0    toyota camry  excellent        4.0  gas   79212.0
7  15990      2013.0     honda pilot  excellent        6.0  gas  109473.0
8  11500      2012.0     kia sorento  excellent        4.0  gas  104174.0
9   9200      2008.0     honda pilot  excellent        NaN  gas  147191.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28
5    automatic   sedan       black     1.0  2018-06-20           15
6    automatic   sedan       white     NaN  2018-12-27           73
7    automatic     SUV       black     1.0  2019-01-07           68
8    automatic     SUV         NaN     1.0  2018-07-16           19
9    automatic     SUV        blue     1.0  2019-02-15           17

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

## Observaciónes de los datos hasta el momento

- **model_year:** Por un lado los valores estan en formato float, esto debe corregirse a enteros. luego, Hay bastantes datos que no estan presentes, sin embargo considero que podría ser una buena opción revisar el valor máximo y mínimo que existe en esta columna, hallar el promedio y la media de los datos y de este modo poder reemplazar los valores ausentes con el valor de la media si son números relativamente cercanos.  

- **cylinders:** Por un lado los valores estan en formato float, esto debe corregirse a enteros. Esta variable es bastante importante ya que está directamente relacionada con la potencia del motor, su precio y el consumo de combustible. Y ya que hacen falta tantos datos en ella, creo que lo mejor es reemplazar los NaN por la palabra "desconocido", de este modo no elimino todas estas filas que representarían casi el 10% del Dataset (5260 filas incompletas).

- **odometer:** La distancia recorrida por el vehiculo medido en millas, en este caso, para realizar el tratamiento de los datos podría al igual que en el caso de **model_year** determinar sus valores máximo y mínimo y hallar la media y mediana de los datos. y usar este valor para completar el dataset.
aquí hacen falta (51525-43633=7892 filas vacias), por lo cual eliminarlas equivaldría a perder al rededor del 15% de los datos.

- **paint_color:** Los valores ausentes en la columna del color del coche los modificaré para colocar "Desconocido"

- **is_4wd:** Es una columna que muestra datos binarios 0 y 1, 1 para decir que Sí y 0 para No.,pero en su lugar no hay 0 si no valores ausentes NaN.
En este caso la correción estaría en modificar ambos valores para hacerla un poco más explicita, podría colocar en lugar del 1: "Tiene tracción en las 4 Ruedas" y en lugar del 0: "Tiene tracción trasera"

## Tratamiento de los datos:

**Columna model_year:**

In [ ]:
#1. Hallar valores máximo, minimo, media y mediana.
print('El valor máximo en la columna model_year es:',df['model_year'].max())
print('El valor mínimo en la columna model_year es:',df['model_year'].min())
print('La media en la columna model_year es:',df['model_year'].mean())
print('La mediana en la columna model_year es:',df['model_year'].median())
print()
#cuento los valores ausentes
print('los valores ausentes en la columna model_year son:', df['model_year'].isnull().sum())

El valor máximo en la columna model_year es: 2019
El valor mínimo en la columna model_year es: 1908
La media en la columna model_year es: 2009.7679961183892
La mediana en la columna model_year es: 2010.0

los valores ausentes en la columna model_year son: 0

**Observación:** Ya que los datos de la media y la mediana son muy cercanos, escogeré 2010 para el valor de los Nan.

In [18]:
#2. Rellenar los valores NaN con la media o mediana.
df['model_year'] = df['model_year'].fillna(2010)

#3. Cambio de float a int
df['model_year'] = df['model_year'].astype(int)

#cuento los valores ausentes
print('los valores ausentes en la columna model_year son:', df['model_year'].isnull().sum())

los valores ausentes en la columna model_year son: 0

**Columna cylinders:**

In [ ]:
df.columns
#1. Rellenar los valores NaN con "Desconocido"
df['cylinders'] = df['cylinders'].fillna('Desconocido')

#cuento los valores ausentes
print('los valores ausentes en la columna cylinders son:', df['cylinders'].isnull().sum())

los valores ausentes en la columna cylinder son: 0

**Columna odometer:**

In [29]:
#1. Hallar valores máximo, minimo, media y mediana.
print('El valor máximo en la columna odometer es:',df['odometer'].max())
print('El valor mínimo en la columna odometer es:',df['odometer'].min())
print('La media en la columna odometer es:',df['odometer'].mean())
print('La mediana en la columna odometer es:',df['odometer'].median())
print()
#cuento los valores ausentes
print('los valores ausentes en la columna odometer son:', df['odometer'].isnull().sum())

El valor máximo en la columna odometer es: 990000.0
El valor mínimo en la columna odometer es: 0.0
La media en la columna odometer es: 115553.4617376756
La mediana en la columna odometer es: 113000.0

los valores ausentes en la columna odometer son: 7892

**Observación:** Ya que los datos de la media y la mediana son muy cercanos, escogeré 113000 para el valor de los Nan.

In [30]:
#2. Rellenar los valores NaN con la mediana.
df['odometer'] =df['odometer'].fillna(113000)

#cuento los valores ausentes
print('los valores ausentes en la columna odometer son:', df['odometer'].isnull().sum())

los valores ausentes en la columna odometer son: 0

**Columna paint_color:**

In [31]:
#Reemplazo los valores NaN con "Desconocido" en la columna paint_color
df['paint_color'] = df['paint_color'].fillna('Desconocido')

#cuento los valores ausentes
print('los valores ausentes en la columna paint_color son:', df['paint_color'].isnull().sum())

los valores ausentes en la columna paint_color son: 0

**Columna is_4wd:**

In [37]:
#Reemplazo los valores NaN con "Tiene tracción trasera" en la columna is_4wd
df['is_4wd'] = df['is_4wd'].fillna('Tiene tracción trasera')
#Reemplazo los valores 1.0 con "Tiene tracción 4x4" en la columna is_4wd
df['is_4wd'] = df['is_4wd'].replace(1.0, 'Tiene tracción 4x4')

#cuento los valores ausentes
print('los valores ausentes en la columna is_4wd son:', df['is_4wd'].isnull().sum())
print()
print(df['is_4wd'].head())
print(df['is_4wd'].tail())

los valores ausentes en la columna is_4wd son: 0

0        Tiene tracción 4x4
1        Tiene tracción 4x4
2    Tiene tracción trasera
3    Tiene tracción trasera
4    Tiene tracción trasera
Name: is_4wd, dtype: object
51520    Tiene tracción trasera
51521    Tiene tracción trasera
51522    Tiene tracción trasera
51523    Tiene tracción trasera
51524    Tiene tracción trasera
Name: is_4wd, dtype: object